/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    color: #333;
}

header {
    background-color: #ff0000;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  

.main {
    padding: 20px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.book img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Ödeme sayfası stilleri */
.payment form {
    max-width: 400px;
    margin: 0 auto;
}

.payment label {
    display: block;
    margin-bottom: 5px;
}

.payment input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.payment button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.payment button:hover {
    background-color: #555;
}